[Unit]
Description=sensibo

[Service]
Type=simple
ExecStart=/opt/thingsplex/sensibo/sensibo
User=sensibo
WorkingDirectory=/opt/thingsplex/sensibo
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target